In [1]:
a, b = 4, 5.0
print(a+b)

9.0

In [2]:
s = "hello"
print(s)

hello

In [3]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      4
b          float    5.0
s          str      hello

In [4]:
print(type(s))

<class 'str'>

In [5]:
s = 5.7

In [6]:
print(type(s))

<class 'float'>

In [7]:
%whos # this is used to check the status of the memory

No variables match your requested type.

In [8]:
abcd = 556.32
%whos

Variable   Type     Data/Info
-----------------------------
a          int      4
abcd       float    556.32
b          float    5.0
s          float    5.7

In [9]:
del s

In [10]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      4
abcd       float    556.32
b          float    5.0

In [11]:
c = 2+4j

In [12]:
print(type(c))

<class 'complex'>

In [13]:
s1 = "hello"
s2 = " world"
print(s1+s2)

hello world

In [14]:
10//3

3

In [15]:
10/3

3.3333333333333335

In [16]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        4
abcd       float      556.32
b          float      5.0
c          complex    (2+4j)
s1         str        hello
s2         str         world

In [17]:
_x = "3x"
print(_x)

3x

In [18]:
True and False or True  # and is applied first than or

True

In [19]:
print(round(5.6231)) # this is for nearest integer
print(round(4.55842, 3)) # this is upto 3-decimal places

6
4.558

In [20]:
divmod(27, 5) # this returns the quotient and remainder in a tuple

(5, 2)

In [21]:
print(isinstance(1, int)) # returns True, if the first argument is an instance of that class.
print(isinstance(1.0, (int, float)))

True
True

In [22]:
x = input("Enter a number : ")
print(x)

Enter a number :  1

1

In [23]:
a, b = eval(input("Enter the numbers : "))
if a>b:
    print(a)
else:
    print(b)

Enter the numbers :  1,2

2

In [24]:
L = []
for i in range(0,10,2):
    print(i)
    L.append(i**2)
print(L)

0
2
4
6
8
[0, 4, 16, 36, 64]

In [25]:
S = {"apple", 4.9, "cherry"}
i = 1
for x in S:
    print(x)
    i+=1
    if i == 3:
        break
    else:
        pass
else:
    print('Loop completes its iterations')
print("Outside the loop")

apple
cherry
Outside the loop

In [26]:
D = {"apple":44, "cherry":"game"}
for x in D:
    print(x, D[x])

apple 44
cherry game

In [27]:
'''
    [1,2,4,-5,7,9,3,2]
'''
L = [1,2,4,-5,7,9,3,2]
for j in range(len(L)):
    m = L[j]
    idx = j
    c = j
    for i in range(j, len(L)):
        if L[i]<m:
            m = L[i]
            idx = c
        c+=1
    tmp = L[j]
    L[j] = m
    L[idx] = tmp

In [28]:
L

[-5, 1, 2, 2, 3, 4, 7, 9]

# Functions

In [29]:
def printSuccess():
    print("The task ws successful")
    print("Moving to the next task")
    print("Send me the next task")

In [30]:
printSuccess()

The task ws successful
Moving to the next task
Send me the next task

In [31]:
def printMessage(msg):
    print(msg)

printMessage("Succcess")

Succcess

In [32]:
def add(*args):
    sum = 0
    for i in range(len(args)):
        sum += args[i]
    return sum

In [33]:
sum((3,4,5,6,7,8)) # args takes in the form of a list, tuples, etc.

33

In [34]:
def f(**c):
    for x in c:
        print(x, c[x])

In [35]:
f(a=12, b="abc", c=12.455, d=True)

a 12
b abc
c 12.455
d True

In [36]:
%whos

Variable       Type        Data/Info
------------------------------------
D              dict        n=2
L              list        n=8
S              set         {'apple', 'cherry', 4.9}
a              int         1
abcd           float       556.32
add            function    <function add at 0x0000027C6D206DE0>
b              int         2
c              int         8
f              function    <function f at 0x0000027C6D207380>
i              int         7
idx            int         7
j              int         7
m              int         9
printMessage   function    <function printMessage at 0x0000027C6D206A20>
printSuccess   function    <function printSuccess at 0x0000027C6D206340>
s1             str         hello
s2             str          world
tmp            int         9
x              str         cherry

In [37]:
def add(sum = [0]):
    s = 0
    for i in sum:
        s+=i
    print(s)

In [38]:
add([1,2,4,3])

10

In [39]:
%whos

Variable       Type        Data/Info
------------------------------------
D              dict        n=2
L              list        n=8
S              set         {'apple', 'cherry', 4.9}
a              int         1
abcd           float       556.32
add            function    <function add at 0x0000027C6D2200E0>
b              int         2
c              int         8
f              function    <function f at 0x0000027C6D207380>
i              int         7
idx            int         7
j              int         7
m              int         9
printMessage   function    <function printMessage at 0x0000027C6D206A20>
printSuccess   function    <function printSuccess at 0x0000027C6D206340>
s1             str         hello
s2             str          world
tmp            int         9
x              str         cherry

## Last topics of functions
### How to make modules, in python?

```python
def printMe(msg="No message was supplied"):
    print(msg)
```

In [40]:
import sys
loc = sys.path.append('D:/Hllo')
print(loc)

None

In [44]:
a, b = eval(input("Enter a number and a string: "))
print(b, "you're one of the best among", a)

Enter a number and a string:  130981293, 'Raj'

Raj you're one of the best among 130981293

# String 
### Indexing and Slicing

#### Negative index

```python
    a = "Game of programming"
    print(a[3:8])
```

In [48]:
a = 'anubhav'
a.capitalize()

'Anubhav'

In [50]:
print(r"c:\name\drive")

c:\name\drive

# Data Structures in Python

* List
* Tuple
* Set
* Dictionary

In [51]:
l = [1,3,4.9,"name",3]
t = (1,3,4.9,"name",3)
s = {1,3,4.9,"name",3}
print(l, t, s)

[1, 3, 4.9, 'name', 3] (1, 3, 4.9, 'name', 3) {1, 3, 4.9, 'name'}